.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui.card .meta, .ui.cards > .card .meta {
	overflow: hidden;
	text-overflow: ellipsis;
}
