.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui.card .meta, .ui.cards > .card .meta {
	overflow: hidden;
	text-overflow: ellipsis;
}

body {
	background-color: black!important;
	color: white!important;
	font-family: monospace!important;
}

h1, h2, h3, h4, h5 {
	font-weight: lighter!important;
	font-family: monospace!important;
}